@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<ul>
    <li>@Html.ActionLink("Simple example", "Simple")</li>
    <li>@Html.ActionLink("Dynamic example", "SimpleDynamic")</li>
    <li>@Html.ActionLink("Computed example", "SimpleComputed")</li>
    <li>@Html.ActionLink("Event example", "Events")</li>
    <li>@Html.ActionLink("Simple List example", "SimpleList")</li>
    <li>@Html.ActionLink("Complex List example", "ComplexList")</li>
    <li>@Html.ActionLink("Editable List example", "EditableList")</li>
    <li>@Html.ActionLink("MVC View Model", "MvcViewModel")</li>
    <li>@Html.ActionLink("MVC List View Model", "MvcListViewModel")</li>
    <li>@Html.ActionLink("MVC Load/Map View Model", "MvcLoadViewModel")</li>
    <li>@Html.ActionLink("More than data", "MoreThanData")</li>
</ul>
